{{/* Display author list. */}}

{{- $taxonomy := "authors" }}
{{ with .Param $taxonomy }}
  {{ $link_authors := site.Params.link_authors | default true }}
  {{ $len := (len .) }}
  {{ range $index, $name_raw := . }}
    {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy .) -}}
    {{- $name := $profile_page.Title | default $name_raw -}}
    {{- if gt $index 0 }},&nbsp;
      {{- if eq (add $index 1) $len }}and {{ end -}}
    {{ end -}}

    <span>
      {{- if and $profile_page $link_authors -}}
        {{- $query := where (where site.Pages "Section" "authors") ".Params.title" $name -}}
        {{- range $idx, $tmp := $query -}}
          {{- if eq $idx (add (len $query) -1) -}}
            {{- $link := .Params.homepage -}}
            {{- with $link -}}<a href="{{.}}">{{- end -}} {{$name}} {{- if $link -}}</a>{{- end -}}
          {{- end -}}
        {{- end -}}
        <!-- <a href="{{$profile_page.RelPermalink}}">{{$name}}</a> -->
      {{- else -}}
        {{$name}}
      {{- end -}}
    </span>
  {{- end -}}
{{- end -}}
